.jumbotron{
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
}
#heading{
	color: #ffffff;
}
.question{
	
	
	font-weight: bold;
}

h1{
	padding-left: 25px;
}
.wrap{
	background-color: #ffffff;
	margin: 0px;
	
}
.text{
	background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0);
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    
}
body{
     position: relative;
   
    background: url("back.jpeg") no-repeat top center fixed;
     
}
p{

}

#close{
   background-color:  #012823 !important;
   
}

#form{
      cursor: pointer;
}

